### 1. Load dataset

In [1]:
# Load dataset named as: 'decision_tree_dataset.csv'

In [2]:
# Check columns of Dataframe

In [3]:
# Check the summary of DataFrame

In [4]:
# Check the correlation among features

### 2. Seperate dependent and independent features

In [5]:
# Seperate dependent and independent features

### 3. Split the dataset into training and testing set

In [6]:
# Split the data into training and testing set

### 4. Train the model (DecisionTreeClassifier)

In [7]:
from sklearn.tree import DecisionTreeClassifier,plot_tree

### 5. Evaluation of model

In [8]:
# Prediction in testing set

In [9]:
# Well you know what to use for evaluation of Classification task

### 6. Visualization of the tree

In [10]:
import matplotlib.pyplot as plt

# Information gain calculations for Decision Tree

In [11]:
import pandas as pd
df = pd.read_csv('Golf_Data.csv')
df

     Outlook  Temp Humidity    Wind Decision
0      Sunny   Hot     High    Weak       No
1      Sunny   Hot     High  Strong       No
2   Overcast   Hot     High    Weak      Yes
3       Rain  Mild     High    Weak      Yes
4       Rain  Cool   Normal    Weak      Yes
5       Rain  Cool   Normal  Strong       No
6   Overcast  Cool   Normal  Strong      Yes
7      Sunny  Mild     High    Weak       No
8      Sunny  Cool   Normal    Weak      Yes
9       Rain  Mild   Normal    Weak      Yes
10     Sunny  Mild   Normal  Strong      Yes
11  Overcast  Mild     High  Strong      Yes
12  Overcast   Hot   Normal    Weak      Yes
13      Rain  Mild     High  Strong       No
14     Sunny  Cool     High    Weak        ?

In [12]:
# Since the last data is incomplete or testing data so we drop it
df = df.drop(14)
df

     Outlook  Temp Humidity    Wind Decision
0      Sunny   Hot     High    Weak       No
1      Sunny   Hot     High  Strong       No
2   Overcast   Hot     High    Weak      Yes
3       Rain  Mild     High    Weak      Yes
4       Rain  Cool   Normal    Weak      Yes
5       Rain  Cool   Normal  Strong       No
6   Overcast  Cool   Normal  Strong      Yes
7      Sunny  Mild     High    Weak       No
8      Sunny  Cool   Normal    Weak      Yes
9       Rain  Mild   Normal    Weak      Yes
10     Sunny  Mild   Normal  Strong      Yes
11  Overcast  Mild     High  Strong      Yes
12  Overcast   Hot   Normal    Weak      Yes
13      Rain  Mild     High  Strong       No

### 1. Calculation of Gini impurity for parent

In [13]:
# Define the function for easier calcuations
def calc_Gini(frac1,frac2):
    res = 1-frac1**2-frac2**2
    return res

In [14]:
# Calculation of Gini impurity for Parent

### 2. For Outlook Feature

In [15]:
# Here total number of samples = 14
# Outlook (Sunny) = 5 (2 yes, 3 no)
# Outlook (overcast) = 4 (4 yes, 0 no)
# Outlook (Rain) = 5 (3 yes, 2 no)

In [16]:
#Calculation of weighted gini impurity for outlook

In [17]:
# Calculation of information gain

### 2. For Temp Feature

In [18]:
# Here total number of samples = 14
# Temp (Hot) = 4 (2 yes, 2 no)
# Temp (Mild) = 6 (4 yes, 2 no)
# Temp (Cool) = 4 (3 yes, 1 no)

In [19]:
#Calculation of weighted gini impurity for temp

In [20]:
# Calculation of information gain

### 3. For Humidity Feature

In [21]:
# Here total number of samples = 14
# Humidity (High) = 7 (3 yes, 4 no)
# Humidity (Normal) = 7 (6 yes, 1 no)

Gini_for_High = calc_Gini(3/7,4/7)
Gini_for_Normal = calc_Gini(6/7,1/7)
Gini_for_High, Gini_for_Normal

(0.489795918367347, 0.24489795918367355)

In [22]:
#Calculation of weighted gini impurity for Humidity
weighted_Gini_Humidity = (7/14)*Gini_for_High + (7/14)*Gini_for_Normal
weighted_Gini_Humidity

0.3673469387755103

In [25]:
# Calculation of information gain 
# Gain_Humidity = parent_gini -weighted_Gini_Humidity
# print("Gain of Humidity:", Gain_Humidity)

### 4. For Wind Feature

In [26]:
# Here total number of samples = 14
# Wind (Strong) = 6 (3 yes, 3 no)
# Wind (Weak) = 8 (6 yes, 2 no)

Gini_for_Strong = calc_Gini(3/6,3/6)
Gini_for_Weak = calc_Gini(6/8,2/8)
Gini_for_Strong, Gini_for_Weak

(0.5, 0.375)

In [27]:
#Calculation of weighted gini impurity for Humidity
weighted_Gini_Wind = (6/14)*Gini_for_Strong + (8/14)*Gini_for_Weak
weighted_Gini_Wind

0.42857142857142855

In [28]:
# Calculation of information gain 
# Gain_Wind = parent_gini - weighted_Gini_Wind
# print("Gain of Humidity:", Gain_Wind)

## Assignment

In [29]:
# Load the datset
import pandas as pd
df = pd.read_csv('loan_approval_dataset.csv')
df.head()

,loan_id,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,bank_asset_value,loan_status
0,1,9600000,29900000,12,778,2400000,8000000,Approved
1,2,4100000,12200000,8,417,2700000,3300000,Rejected
2,3,9100000,29700000,20,506,7100000,12800000,Rejected
3,4,8200000,30700000,8,467,18200000,7900000,Rejected
4,5,9800000,24200000,20,382,12400000,5000000,Rejected

In [30]:
# Check columns of Dataframe

In [31]:
# Check the summary of DataFrame

In [32]:
# Seperate dependent and independent Features 
# (We need to predict loan_status based on ther features)

In [33]:
# Split the data into training and testing set

In [34]:
# Import and train the model

In [35]:
# Make prediction on testing set

In [36]:
# Evalution of model

In [37]:
# Visualization of Model

_**And all set for decision tree classfier.**_ ðŸŽ‰ðŸŽ‰ðŸŽ‰